/******BODY HTML********/
html,
body {
    margin: 0;
    padding: 0;
    overflow: auto;
}

body {
    background-image: url("images/bg-images/img0.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffffff;
    font-family: 'Rubik';
    padding: 0px;
    overflow-x: hidden;
}

/******BOX STYLES********/
.box {
    border-radius: 10px;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 20px;
    padding-right: 20px;
    background-color: rgb(255, 255, 255, 0.75);
    color: #000000;
    transition: background-color 1s, margin 0.5s, padding-right 0.5s;
}

.box:hover {
    background-color: rgb(255, 255, 255, 0.9);
    margin-left: calc(10vw - 5px);
    margin-right: calc(10vw - 5px);
    padding-right: 30px;
}

.box p {
    text-indent: 32px;
}

.pineappleBullet li {
    list-style: none;
    background-image: url("images/pappyBullet.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 14px;
    padding-left: 24px;
}

/******GAME PAGE STYLES********/
#latest-release img {
    width: 200px;
    border-radius: 10px;
    display: block;
    margin-right: 20px;
}

#latest-release div,
#latest-release img {
    vertical-align: top;
    display: inline-flex;
}

.updates li {
    margin: 6px;
}

.gameThumb {
    margin: 1vw;
    padding: 10px;
    ;
    color: rgb(0, 0, 0, 0);
    border-radius: 10px;
    box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0);
    transition: color 0.5s, box-shadow 0.5s;
}

.gameThumb:hover {
    color: rgb(0, 0, 0);
    cursor: pointer;
    box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.75);
}

.thumbHoverTextHeader {
    font-size: 18px;
    font-weight: bold;
}

.thumbHoverTextDescription {
    font-size: 12px;
}

#gamesTable {
    margin: auto;
}

#saveCodeInput {
    text-indent: 0px;
    padding: 10px;
    margin-top: 5px;
    background-color: #444444;
    border-radius: 10px;
    width: 30vw;
    overflow: auto;
    color: white;
}

/******DISCORD API******/
#discordAPI {
    display: inline-block;
    /*background-color: #62ff13;*/
    background: linear-gradient(45deg, #ffbb00, #15ff00);
    ;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

#discordAPI img {
    width: 48px;
    height: 48px;
    vertical-align: middle;
}

#discordAPI div {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

#discordServerAPIHeader {
    font-weight: bold;
    font-size: 20px;
}

/******GENERAL STYLES********/
.center {
    text-align: center;
}

.noTextDecoration {
    text-decoration: none;
}

.LinkDesign,
.LinkDesign:link {
    color: orange;
    text-decoration: underline;
}

.LinkDesign:visited {
    color: green;
}

.LinkDesign:hover {
    color: red;
}

/******HEADER STYLES********/
header {
    display: inline-flexbox;
    background-color: #191919;
    padding: 10px;
    margin: 0px;
    align-items: center;
}

.navSection {
    vertical-align: top;
    display: inline-flex;
    /*align-items: center;*/
    padding-left: 10px;
    padding-right: 10px;
    border: 3px solid rgb(0, 0, 0, 0);
    border-radius: 10px;
    align-items: center;
    height: 5vh;
    background: #191919;
    transition: border 2s;
    margin-right: 5px;
}

.navSection:hover {
    cursor: pointer;
    background: linear-gradient(45deg, #ffbb00, #15ff00);
    border: 3px solid #00ffcc;
    transition: border 0.5s;
}

#navImg {
    width: 4vh;
    padding-right: 10px;
}

.navText {
    font-size: 24px;
    color: #dbdbdb;
    font-weight: bold;
}

/******FOOTER STYLES********/
footer {
    background-color: #191919;
    text-align: center;
    padding: 10px;
    vertical-align: bottom;
    height: 135px;
}

.footerImage {
    width: 30px;
    padding: 10px;
}